/* Dashboard component */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/* logo component */
.Logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 60px;
  border: solid #73648a 3.5px;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.logoimg{
 height: 100%;
 width: 100%;
}

/* Main component */
.MainInput{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  width:50%;
  height: 40vh;
  background-color: #9882ac7c;
  border-radius: 5px;
}

.InputForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 18vw;
  border-radius: 2px;
  box-shadow: 0px 0px 2px grey;
  background-color: #73648a;
}

h2, p, span{
  font-weight: 550;
  font-size: 20px;
  color: aliceblue;
  }
  
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    font-size: 10px;
    border-radius: 5px;
    border-style: none;
    color: aliceblue;
  }
  
  input{
    height: 25px;
    width: 150px;
    font-size: 10px;
    text-overflow: ellipsis;
    border-radius: 5px;
    border: 1px solid grey;
    text-align: center;
  }
  
  button{
    height: 20px;
    width: 75px;
    background-color:#9882AC;
    border-style: none;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 600;
    font-size: 12px;
    opacity: 0.8;
    transition-duration: 0.4s;
  }

  button:hover {
    background-color: #453750;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
  }

  .IngredientsList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 35vh;
    width: 25vw;
    border-radius: 2px;
    box-shadow: 0px 0px 2px grey;
    background-color: #73648a;
    color: aliceblue;
    font-size: 15px;
  }

  /* Recipe component */
  .RecipesHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    width:50%;
    height: 50vh;
    background-color: #9882ac7c;
    border-radius: 5px;
    overflow-y: scroll;
  }

  .RecipeItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 80%;
    border-radius: 2px;
    box-shadow: 0px 0px 2px grey;
    background-color: #73648a;
    color: aliceblue;
    margin-top: 10px;
    padding: 5px;
    font-size: 15px;
  }

  .recipeImg{
    width: 150px;
    height: 150px;
  }

  .right-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 10px;
  }

  .left-container{
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }

  .ingredients{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  ul{
    padding-left: 5px;
    margin: 3px 0px 3px 0px;
    font-size: 12px;
    font-weight: 300;
  }

  a{
    text-decoration: none;
    color: aliceblue;
  }






